@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */  
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

.theme{
  background-color: #000000;
  background-image: linear-gradient(147deg, #1c2a35 25%, #000000, #1c2630 85%);
}

.button-animation:hover{
    background-color: white;
    opacity: 0.8;
    color: black;
    border: 4px solid chocolate;
    box-shadow: 6px 6px 5px #FFBF00,
    -6px -6px 5px #FFBF00;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;

    transition: box-shadow 0.8s;
}

/* PlaceHolder for home page */
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(100, 116, 139);
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(100, 116, 139);
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(100, 116, 139);
}

.crypto{
  background: rgb(131, 58, 180);
  background: linear-gradient(120deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.bar-gradient{
  background-image: linear-gradient(to right, #33001b, #ff0084);
  
}

.dropdown-gradient{
  background-image: linear-gradient(to right, #141e30, #243b55); 
}

.editor-window{
  background: #fe8c00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.output-window{
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.input-window{
  background: #41295a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}